<div class="docs-page">
  {{> components/page-header
    title=currentDoc.title
    breadcrumbs=pageHeader.breadcrumbs
    meta=pageHeader.meta
  }}

  <div class="docs-layout">
    <aside class="docs-sidebar">
      <div class="docs-sidebar__title">All Pages</div>
      {{#each navSections}}
        <div class="docs-nav-section">
          <div class="docs-nav-section__heading">{{this.title}}</div>
          <ul class="docs-nav">
            {{#each this.items}}
              <li>
                <a href="/docs/{{this.slug}}" class="{{#ifEquals ../currentDoc.slug this.slug}}is-active{{/ifEquals}}">
                  <div class="docs-nav__label">{{this.title}}</div>
                </a>
              </li>
            {{/each}}
          </ul>
        </div>
      {{/each}}
    </aside>

    <section class="docs-content">
      <div class="docs-content__card">
        <article class="docs-markdown">
          {{{currentDoc.contentHtml}}}
        </article>

        <div class="docs-source">Source: docs/{{currentDoc.relativePath}}.md</div>
      </div>
    </section>
  </div>
</div>
