{{#if killmails}}
<!-- Losses for Followed Entities -->

<!-- Statistics Section -->
{{#if statistics}}
<section class="section mb-lg">
    {{> components/section-header title="Losses Statistics" icon="losses" bordered=true}}

    <table class="kb-table" cellspacing="1">
        <thead>
            <tr class="kb-table-header">
                <th class="kb-table-header text-center" colspan="4">Overall Statistics</th>
            </tr>
        </thead>
        <tbody>
            <tr class="kb-table-row-even">
                <td class="kb-table-cell"><b>Total Losses:</b></td>
                <td class="kb-table-cell">{{statistics.totalLosses}}</td>
                <td class="kb-table-cell"><b>Total ISK Lost:</b></td>
                <td class="kb-table-cell"><span class="isk-value">{{formatISK statistics.totalISKLost}}</span></td>
            </tr>
            <tr class="kb-table-row-odd">
                <td class="kb-table-cell"><b>Solo Losses:</b></td>
                <td class="kb-table-cell">{{statistics.soloKills}}</td>
                <td class="kb-table-cell"><b>NPC Losses:</b></td>
                <td class="kb-table-cell">{{statistics.npcKills}}</td>
            </tr>
            <tr class="kb-table-row-even">
                <td class="kb-table-cell"><b>Avg Attackers/Loss:</b></td>
                <td class="kb-table-cell">{{statistics.averageAttackersPerKill}}</td>
                <td class="kb-table-cell"><b>Unique Enemies:</b></td>
                <td class="kb-table-cell">{{statistics.totalUniquePilots}}</td>
            </tr>

            <tr class="kb-table-header">
                <th class="kb-table-header text-center" colspan="4">Activity</th>
            </tr>
            <tr class="kb-table-row-even">
                <td class="kb-table-cell"><b>Active Enemies (24h):</b></td>
                <td class="kb-table-cell">{{statistics.activePilotsLast24Hours}}</td>
                <td class="kb-table-cell"><b>Active Enemies (7d):</b></td>
                <td class="kb-table-cell">{{statistics.activePilotsLast7Days}}</td>
            </tr>
            <tr class="kb-table-row-odd">
                <td class="kb-table-cell"><b>Losses (Last 24h):</b></td>
                <td class="kb-table-cell">{{statistics.killsLast24Hours}}</td>
                <td class="kb-table-cell"><b>Losses (Last 7d):</b></td>
                <td class="kb-table-cell">{{statistics.killsLast7Days}}</td>
            </tr>
            <tr class="kb-table-row-even">
                <td class="kb-table-cell"><b>Losses (Last 30d):</b></td>
                <td class="kb-table-cell">{{statistics.killsLast30Days}}</td>
                <td class="kb-table-cell"></td>
                <td class="kb-table-cell"></td>
            </tr>

            {{#if statistics.topKiller}}
            <tr class="kb-table-header">
                <th class="kb-table-header text-center" colspan="4">Top Enemy Attackers & Organizations</th>
            </tr>
            <tr class="kb-table-row-even">
                <td class="kb-table-cell"><b>Top Killer:</b></td>
                <td class="kb-table-cell"><a href="/character/{{statistics.topKiller.id}}">{{statistics.topKiller.name}}</a> ({{statistics.topKiller.kills}} kills)</td>
                <td class="kb-table-cell"><b>Top Corporation:</b></td>
                <td class="kb-table-cell"><a href="/corporation/{{statistics.topCorporation.id}}">{{statistics.topCorporation.name}}</a> ({{statistics.topCorporation.kills}} kills)</td>
            </tr>
            <tr class="kb-table-row-odd">
                <td class="kb-table-cell"><b>Top Alliance:</b></td>
                <td class="kb-table-cell"><a href="/alliance/{{statistics.topAlliance.id}}">{{statistics.topAlliance.name}}</a> ({{statistics.topAlliance.kills}} kills)</td>
                <td class="kb-table-cell"></td>
                <td class="kb-table-cell"></td>
            </tr>
            {{/if}}

            {{#if statistics.mostDestroyedShip}}
            <tr class="kb-table-header">
                <th class="kb-table-header text-center" colspan="4">Ships & Systems</th>
            </tr>
            <tr class="kb-table-row-even">
                <td class="kb-table-cell"><b>Most Lost Ship:</b></td>
                <td class="kb-table-cell"><a href="/type/{{statistics.mostDestroyedShip.id}}">{{statistics.mostDestroyedShip.name}}</a> ({{statistics.mostDestroyedShip.count}}x)</td>
                <td class="kb-table-cell"><b>Most Used Ship (Lost):</b></td>
                <td class="kb-table-cell"><a href="/type/{{statistics.mostUsedShip.id}}">{{statistics.mostUsedShip.name}}</a> ({{statistics.mostUsedShip.count}}x)</td>
            </tr>
            <tr class="kb-table-row-odd">
                <td class="kb-table-cell"><b>Most Dangerous System:</b></td>
                <td class="kb-table-cell"><a href="/system/{{statistics.mostDangerousSystem.id}}">{{statistics.mostDangerousSystem.name}}</a> ({{statistics.mostDangerousSystem.count}} losses)</td>
                <td class="kb-table-cell"></td>
                <td class="kb-table-cell"></td>
            </tr>
            {{/if}}
        </tbody>
    </table>
</section>
{{/if}}

<!-- Pagination (Top) -->
{{#if pagination}}
    {{> partials/pagination}}
{{/if}}

<!-- Killmails List -->
<section class="killlist">
    {{> partials/killmail-list}}
</section>

<!-- Pagination (Bottom) -->
{{#if pagination}}
    {{> partials/pagination}}
{{/if}}

{{else}}
<!-- Placeholder when no followed entities are configured -->
<div class="box">
    <div class="box-header">Losses</div>
    <div class="box-content">
        <p>Recent losses will be displayed here.</p>
        <p style="margin-top: 15px; color: var(--color-text-tertiary);">
            This page is under construction and will be made fancy later.
        </p>
    </div>
</div>
{{/if}}
