<!-- Killmail List - Responsive Flexbox Layout -->
<div class="kb-kl-list">
    {{#if killmails.length}}
    <!-- Header Row -->
    <div class="kb-kl-row kb-kl-row--header">
        <div class="kb-kl-col kb-kl-col--ship">Ship type</div>
        <div class="kb-kl-col kb-kl-col--victim">Victim</div>
        <div class="kb-kl-col kb-kl-col--finalblow">Final blow</div>
        <div class="kb-kl-col kb-kl-col--location">Location</div>
        <div class="kb-kl-col kb-kl-col--value">Value</div>
        <div class="kb-kl-col kb-kl-col--time">Time</div>
    </div>

    <!-- Killmail Rows -->
    {{#each killmails}}
    <div class="kb-kl-row {{#if (or (isFollowedLoss victim ../followedEntities) (isEntityLoss victim ../entityType ../entityId))}}kb-kl-row--followed-loss{{/if}}" onclick="window.location.href='/killmail/{{killmail_id}}';" style="cursor: pointer;">
        <!-- Ship -->
        <div class="kb-kl-col kb-kl-col--ship">
            <div class="kb-kl-ship">
                {{> partials/eve-image type="ship" id=victim.ship.type_id size=48 alt=victim.ship.name class="kb-kl-ship-icon"}}
                <div class="kb-kl-info kb-kl-info--ship">
                    <div class="kb-kl-info__primary">{{victim.ship.name}}</div>
                    <div class="kb-kl-info__secondary">{{victim.ship.group}}</div>
                </div>
            </div>
        </div>

        <!-- Victim -->
        <div class="kb-kl-col kb-kl-col--victim">
            <div class="kb-kl-info kb-kl-info--victim">
                {{#if victim.character.id}}
                <div class="kb-kl-info__primary">
                    <a href="/character/{{victim.character.id}}" class="kb-kl-info__link" onclick="event.stopPropagation();">{{victim.character.name}}</a>
                </div>
                {{else}}
                <div class="kb-kl-info__primary">{{victim.character.name}}</div>
                {{/if}}
                <div class="kb-kl-info__secondary">
                    {{#if victim.corporation.id}}
                    <a href="/corporation/{{victim.corporation.id}}" class="kb-kl-info__link--secondary" onclick="event.stopPropagation();">{{victim.corporation.name}}</a>
                    {{else}}
                    {{victim.corporation.name}}
                    {{/if}}
                </div>
                {{#if victim.alliance.name}}
                <div class="kb-kl-info__secondary">
                    {{#if victim.alliance.id}}
                    <a href="/alliance/{{victim.alliance.id}}" class="kb-kl-info__link--secondary" onclick="event.stopPropagation();">{{victim.alliance.name}}</a>
                    {{else}}
                    {{victim.alliance.name}}
                    {{/if}}
                </div>
                {{/if}}
            </div>
        </div>

        <!-- Final Blow -->
        <div class="kb-kl-col kb-kl-col--finalblow">
            <div class="kb-kl-info kb-kl-info--finalblow">
                {{#if attackers.[0]}}
                {{#if attackers.[0].character.id}}
                <div class="kb-kl-info__primary">
                    <a href="/character/{{attackers.[0].character.id}}" class="kb-kl-info__link" onclick="event.stopPropagation();">{{attackers.[0].character.name}}</a>
                </div>
                {{else}}
                <div class="kb-kl-info__primary">{{attackers.[0].character.name}}</div>
                {{/if}}
                <div class="kb-kl-info__secondary">
                    {{#if attackers.[0].corporation.id}}
                    <a href="/corporation/{{attackers.[0].corporation.id}}" class="kb-kl-info__link--secondary" onclick="event.stopPropagation();">{{attackers.[0].corporation.name}}</a>
                    {{else}}
                    {{attackers.[0].corporation.name}}
                    {{/if}}
                </div>
                {{#if attackers.[0].alliance.name}}
                <div class="kb-kl-info__secondary">
                    {{#if attackers.[0].alliance.id}}
                    <a href="/alliance/{{attackers.[0].alliance.id}}" class="kb-kl-info__link--secondary" onclick="event.stopPropagation();">{{attackers.[0].alliance.name}}</a>
                    {{else}}
                    {{attackers.[0].alliance.name}}
                    {{/if}}
                </div>
                {{/if}}
                {{else}}
                <div class="kb-kl-value--unknown">Unknown</div>
                {{/if}}
            </div>
        </div>

        <!-- Location -->
        <div class="kb-kl-col kb-kl-col--location">
            <div class="kb-kl-info">
                <div class="kb-kl-info__primary">{{solar_system.name}}</div>
                <div class="kb-kl-info__secondary">{{solar_system.region}}</div>
            </div>
        </div>

        <!-- Value -->
        <div class="kb-kl-col kb-kl-col--value">
            {{#if ship_value}}
                <span class="kb-kl-value">{{abbreviateISK ship_value}}</span>
            {{else}}
                <span class="kb-kl-value--unknown">N/A</span>
            {{/if}}
        </div>

        <!-- Time -->
        <div class="kb-kl-col kb-kl-col--time">
            <span class="kb-kl-time">{{formatDate killmail_time}}</span>
        </div>
    </div>
    {{/each}}
    {{else}}
    <div class="kb-kl-row kb-kl-row--empty">
        <div style="text-align: center; padding: 20px;">No killmails found.</div>
    </div>
    {{/if}}
</div>
