<!-- Home Page - EDK Style -->

{{#if summaryTable}}
<!-- Summary Table -->
<div class="mb-lg">
    {{{summaryTable}}}
</div>
{{/if}}

<!-- Statistics Section -->
{{#if statistics}}
<section class="section mb-lg">
    {{> components/section-header title="Killboard Statistics" bordered=true}}

    <table class="kb-table" cellspacing="1">
        <thead>
            <tr class="kb-table-header">
                <th class="kb-table-header text-center" colspan="4">Overall Statistics</th>
            </tr>
        </thead>
        <tbody>
            <tr class="kb-table-row-even">
                <td class="kb-table-cell"><b>Total Killmails:</b></td>
                <td class="kb-table-cell">{{statistics.totalKillmails}}</td>
                <td class="kb-table-cell"><b>Total ISK Destroyed:</b></td>
                <td class="kb-table-cell"><span class="isk-value">{{formatISK statistics.totalISKDestroyed}}</span></td>
            </tr>
        <tr class="kb-table-row-odd">
            <td class="kb-table-cell"><b>Solo Kills:</b></td>
            <td class="kb-table-cell">{{statistics.soloKills}}</td>
            <td class="kb-table-cell"><b>NPC Kills:</b></td>
            <td class="kb-table-cell">{{statistics.npcKills}}</td>
        </tr>
        <tr class="kb-table-row-even">
            <td class="kb-table-cell"><b>Avg Attackers/Kill:</b></td>
            <td class="kb-table-cell">{{statistics.averageAttackersPerKill}}</td>
            <td class="kb-table-cell"><b>Unique Pilots:</b></td>
            <td class="kb-table-cell">{{statistics.totalUniquePilots}}</td>
            </tr>

            <tr class="kb-table-header">
                <th class="kb-table-header text-center" colspan="4">Activity</th>
            </tr>
        <tr class="kb-table-row-even">
            <td class="kb-table-cell"><b>Active Pilots (24h):</b></td>
            <td class="kb-table-cell">{{statistics.activePilotsLast24Hours}}</td>
            <td class="kb-table-cell"><b>Active Pilots (7d):</b></td>
            <td class="kb-table-cell">{{statistics.activePilotsLast7Days}}</td>
        </tr>
        <tr class="kb-table-row-odd">
            <td class="kb-table-cell"><b>Kills (Last 24h):</b></td>
            <td class="kb-table-cell">{{statistics.killsLast24Hours}}</td>
            <td class="kb-table-cell"><b>Kills (Last 7d):</b></td>
            <td class="kb-table-cell">{{statistics.killsLast7Days}}</td>
        </tr>
        <tr class="kb-table-row-even">
            <td class="kb-table-cell"><b>Kills (Last 30d):</b></td>
            <td class="kb-table-cell">{{statistics.killsLast30Days}}</td>
            <td class="kb-table-cell"></td>
            <td class="kb-table-cell"></td>
            </tr>

            {{#if statistics.topKiller}}
            <tr class="kb-table-header">
                <th class="kb-table-header text-center" colspan="4">Top Players & Organizations</th>
            </tr>
        <tr class="kb-table-row-even">
            <td class="kb-table-cell"><b>Top Killer:</b></td>
            <td class="kb-table-cell"><a href="/character/{{statistics.topKiller.id}}">{{statistics.topKiller.name}}</a> ({{statistics.topKiller.kills}} kills)</td>
            <td class="kb-table-cell"><b>Top Corporation:</b></td>
            <td class="kb-table-cell"><a href="/corporation/{{statistics.topCorporation.id}}">{{statistics.topCorporation.name}}</a> ({{statistics.topCorporation.kills}} kills)</td>
        </tr>
        <tr class="kb-table-row-odd">
            <td class="kb-table-cell"><b>Top Alliance:</b></td>
            <td class="kb-table-cell"><a href="/alliance/{{statistics.topAlliance.id}}">{{statistics.topAlliance.name}}</a> ({{statistics.topAlliance.kills}} kills)</td>
            <td class="kb-table-cell"></td>
            <td class="kb-table-cell"></td>
            </tr>
            {{/if}}

            {{#if statistics.mostDestroyedShip}}
            <tr class="kb-table-header">
                <th class="kb-table-header text-center" colspan="4">Ships & Systems</th>
            </tr>
        <tr class="kb-table-row-even">
            <td class="kb-table-cell"><b>Most Destroyed Ship:</b></td>
            <td class="kb-table-cell"><a href="/type/{{statistics.mostDestroyedShip.id}}">{{statistics.mostDestroyedShip.name}}</a> ({{statistics.mostDestroyedShip.count}}x)</td>
            <td class="kb-table-cell"><b>Most Used Ship:</b></td>
            <td class="kb-table-cell"><a href="/type/{{statistics.mostUsedShip.id}}">{{statistics.mostUsedShip.name}}</a> ({{statistics.mostUsedShip.count}}x)</td>
        </tr>
        <tr class="kb-table-row-odd">
            <td class="kb-table-cell"><b>Most Dangerous System:</b></td>
            <td class="kb-table-cell"><a href="/system/{{statistics.mostDangerousSystem.id}}">{{statistics.mostDangerousSystem.name}}</a> ({{statistics.mostDangerousSystem.count}} kills)</td>
            <td class="kb-table-cell"></td>
            <td class="kb-table-cell"></td>
            </tr>
            {{/if}}
        </tbody>
    </table>
</section>
{{/if}}

<!-- Recent Killmails -->
<section class="killlist">
    {{> components/section-header title="Recent Killmails" icon="kills"}}

    <!-- Pagination Top -->
    {{> partials/pagination pagination=pagination}}

    {{> partials/killmail-list killmails=killmails}}

    <!-- Pagination Bottom -->
    {{> partials/pagination pagination=pagination}}
</section>

<!-- Top Pilots / Top Corps (if available) -->
{{#if topPilots}}
<section class="mt-xl">
    {{> components/section-header title="Top Killers" icon="kills"}}

    <table class="kb-table" cellspacing="1">
        <tr class="kb-table-header">
            <td class="kb-table-header text-left">Pilot</td>
            <td class="kb-table-header text-center" style="width: 80px;">Kills</td>
            <td class="kb-table-header text-right" style="width: 150px;">ISK Destroyed</td>
        </tr>

        {{#each topPilots}}
        <tr class="{{#if (mod @index 2)}}kb-table-row-odd{{else}}kb-table-row-even{{/if}}">
            <td class="kb-table-cell">
                <b>{{name}}</b>
                <br />
                <span class="color-secondary" style="font-size: 9px;">{{corporation}}</span>
            </td>
            <td class="kb-table-cell kl-kill text-center">{{kills}}</td>
            <td class="kb-table-cell text-right">
                <span class="isk-value">{{formatISK isk}}</span>
            </td>
        </tr>
        {{/each}}
    </table>
</section>
{{/if}}
