<!-- Home Page - EDK Style -->

{{#if summaryTable}}
<!-- Summary Table -->
<div style="margin-bottom: 20px;">
    {{{summaryTable}}}
</div>
{{/if}}

<!-- Statistics Section -->
{{#if statistics}}
<div style="margin-bottom: 30px;">
    <div class="block-header2">Killboard Statistics</div>

    <table class="kb-table" cellspacing="1" style="width: 100%;">
        <tr class="kb-table-header">
            <td class="kb-table-header" colspan="2">Statistics</td>
        </tr>
        <tr class="kb-table-row-even">
            <td class="kb-table-cell" style="width: 200px;"><b>Total Killmails:</b></td>
            <td class="kb-table-cell">{{statistics.totalKillmails}}</td>
        </tr>
        <tr class="kb-table-row-odd">
            <td class="kb-table-cell"><b>Total ISK Destroyed:</b></td>
            <td class="kb-table-cell"><span class="isk-value">{{formatISK statistics.totalISK}}</span></td>
        </tr>
        <tr class="kb-table-row-even">
            <td class="kb-table-cell"><b>Active Pilots:</b></td>
            <td class="kb-table-cell">{{statistics.activePilots}}</td>
        </tr>
        <tr class="kb-table-row-odd">
            <td class="kb-table-cell"><b>Last 24h Kills:</b></td>
            <td class="kb-table-cell">{{statistics.recentKills}}</td>
        </tr>
    </table>
</div>
{{/if}}

<!-- Recent Killmails -->
<div class="killlist">
    <div class="kb-kills-header">Recent Killmails</div>

    {{> partials/killmail-list killmails=killmails}}
</div>

<!-- Top Pilots / Top Corps (if available) -->
{{#if topPilots}}
<div style="margin-top: 30px;">
    <div class="kb-kills-header">Top Killers</div>

    <table class="kb-table" cellspacing="1" style="width: 100%;">
        <tr class="kb-table-header">
            <td class="kb-table-header" style="text-align: left;">Pilot</td>
            <td class="kb-table-header" style="text-align: center; width: 80px;">Kills</td>
            <td class="kb-table-header" style="text-align: right; width: 150px;">ISK Destroyed</td>
        </tr>

        {{#each topPilots}}
        <tr class="{{#if (mod @index 2)}}kb-table-row-odd{{else}}kb-table-row-even{{/if}}">
            <td class="kb-table-cell">
                <b>{{name}}</b>
                <br />
                <span style="color: #999; font-size: 9px;">{{corporation}}</span>
            </td>
            <td class="kb-table-cell kl-kill" style="text-align: center;">{{kills}}</td>
            <td class="kb-table-cell" style="text-align: right;">
                <span class="isk-value">{{formatISK isk}}</span>
            </td>
        </tr>
        {{/each}}
    </table>
</div>
{{/if}}
