<!-- Pagination Component -->
{{#if pagination}}
<div class="pagination">
    <div class="pagination__inner">
        <!-- Previous Button -->
        {{#if pagination.hasPrevPage}}
        <a href="{{#if pagination.prevPageUrl}}{{pagination.prevPageUrl}}{{else}}{{pagination.prevUrl}}{{/if}}" class="pagination__btn">
            ← Previous
        </a>
        {{else}}
        <span class="pagination__btn pagination__btn--disabled">
            ← Previous
        </span>
        {{/if}}

        <!-- First Page -->
        {{#if pagination.showFirst}}
        <a href="{{#if pagination.firstUrl}}{{pagination.firstUrl}}{{else}}/{{/if}}" class="pagination__page">
            1
        </a>
        <span class="pagination__ellipsis">...</span>
        {{/if}}

        <!-- Page Numbers -->
        {{#each pagination.pages}}
        {{#ifEquals this ../pagination.currentPage}}
        <span class="pagination__page pagination__page--active">
            {{this}}
        </span>
        {{else}}
        {{! Generate URL based on context}}
        {{#if ../pagination.basePageUrl}}
        <a href="{{../pagination.basePageUrl}}{{#ifEquals this 1}}{{else}}?page={{this}}{{/ifEquals}}" class="pagination__page">
            {{this}}
        </a>
        {{else}}
        <a href="{{#ifEquals this 1}}/{{else}}/?page={{this}}{{/ifEquals}}" class="pagination__page">
            {{this}}
        </a>
        {{/if}}
        {{/ifEquals}}
        {{/each}}

        <!-- Last Page -->
        {{#if pagination.showLast}}
        <span class="pagination__ellipsis">...</span>
        {{#if pagination.totalPages}}
        <a href="{{#if pagination.lastUrl}}{{pagination.lastUrl}}{{else}}/?page={{pagination.totalPages}}{{/if}}" class="pagination__page">
            {{pagination.totalPages}}
        </a>
        {{/if}}
        {{/if}}

        <!-- Next Button -->
        {{#if pagination.hasNextPage}}
        <a href="{{#if pagination.nextPageUrl}}{{pagination.nextPageUrl}}{{else}}{{pagination.nextUrl}}{{/if}}" class="pagination__btn">
            Next →
        </a>
        {{else}}
        <span class="pagination__btn pagination__btn--disabled">
            Next →
        </span>
        {{/if}}
    </div>
</div>
{{/if}}
