{{#if icon}}
<div class="kb-{{icon}}-header">
  {{title}}
</div>
{{else if bordered}}
<div class="section__title">
  {{title}}
</div>
{{else}}
<div class="section__header">
  {{title}}
</div>
{{/if}}
