{{!--
  Reusable Data Table Component

  Usage:
  {{> components/data-table title="Statistics" headers=headerList rows=dataRows}}

  Props:
  - title: string (optional, table title)
  - headers: array of strings (column headers)
  - rows: array of arrays (table data)
  - classes: string (optional, additional CSS classes)
  - clickable: boolean (optional, makes rows clickable)
--}}
<table class="data-table {{classes}}">
  {{#if title}}
  <thead>
    <tr>
      <th class="data-table__header" colspan="{{headers.length}}">{{title}}</th>
    </tr>
  </thead>
  {{/if}}

  {{#if headers}}
  <thead>
    <tr>
      {{#each headers}}
      <th class="data-table__header">{{this}}</th>
      {{/each}}
    </tr>
  </thead>
  {{/if}}

  <tbody>
    {{#each rows}}
    <tr class="data-table__row {{#if ../clickable}}data-table__row--clickable{{/if}}">
      {{#each this}}
      <td class="data-table__cell">{{this}}</td>
      {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>
